<!doctype html>
<html>
<head>
<title>Madlib Game</title>
</head>
<body>

    <h1>Welcome to Madlibs!!</h1>

<form action="/madlibs">


 What is your name? <input type="text" name="person">
 <input type="submit">

    <p>Let the games begin.. </p>

    <p> </p>


    <div>
    <label for = "person_input">Person:</label>
    <input id = "person_input" type = "text">
    </div>

    <p> </p>


    <label>Choose a color: </label>
    <select name="color">
        <option value="Blue">Blue</option>
        <option value="Pink">Pink</option>
        <option value="Yellow">Yellow</option>
    </select>



    <div>
        <label for="noun_input">A Noun:</label>
        <input id="noun_input" type="text">
    </div>

    <div>
    <p>Enter 5 adjectives: </p>
    <textarea name = "adjectives" rows = "10" cols = "30"></textarea>
    </div>

<input type="submit">
</form>